{% extends 'app/base.html' %}
{% load static%}
{% block contenido %}
{% load humanize %}

<div class="h-screen">
    <h2 class="text-3xl font-bold mb-6 text-black text-center py-5">Detalle Reserva Mensual</h2>

    <div class=" flex items-center justify-center py-10">
        <div class="max-w-4xl w-full bg-white rounded-lg shadow-lg p-6">

            <!-- Tabla de Reservas -->
            <table class="w-full text-left border-collapse">
                <thead>
                    <tr class="bg-[#DE98B1] text-black">
                        <th class="py-3 px-4">Tipo</th>
                        <th class="py-3 px-4">Duración</th>
                        <th class="py-3 px-4">Valor</th>
                        <th class="py-3 px-4">Cliente</th>
                        <th class="py-3 px-4">Hora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-transparent text-black">
                        <td class="py-3 px-4"> {{ evento.servicio.tipo_servicio.nombre }} </td>
                        <td class="py-3 px-4"> {{ evento.servicio.tipo_servicio.duracion }} minutos </td>
                        <td class="py-3 px-4"> ${{ evento.servicio.valor | intcomma }} </td>
                        <td class="py-3 px-4"> {{ evento.cliente }} </td>
                        <td class="py-3 px-4"> {{ evento.fecha_inicio }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}