{% extends 'app/base.html' %}
{% block contenido %}

<div class="h-full flex flex-col items-center min-h-screen bg-gray-100 p-6">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">Agendar Hora</h1>
    <p class="text-lg text-gray-600 mb-6">Seleccione la fecha que desea</p>

    <div class="w-4/5 h-64 flex-grow bg-white shadow-md rounded-lg p-4">
        <button class="hidden" id="servicio" value="{{ id_servicio }}"></button>
        <div id="calendar" class="h-full w-full"></div>
    </div>
</div>

<script defer>
const eventosURL = "{% url 'eventos' %}";
const crearEventoURL = "{% url 'crear_evento' %}";
</script>

<script defer>
document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var id_servicio = document.getElementById('servicio').value;
    var disabledDays = []; 
    var occupiedSlots = {}; 

    function agregarDiasDeshabilitados(eventos) {
        eventos.forEach(event => {
            const eventDate = event.start.slice(0, 10);  
    
            
            if (!occupiedSlots[eventDate]) {
                occupiedSlots[eventDate] = [];
            }
            occupiedSlots[eventDate].push(event.start.slice(11, 16));  
    
            
            if (occupiedSlots[eventDate].length >= 5 && !disabledDays.includes(eventDate)) {
                disabledDays.push(eventDate);  
            }
        });
        
    }

        var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'es',
        headerToolbar: {
        left: 'prev,next',
        center: 'title',
        right: 'dayGridMonth,timeGridDay'
    },
        buttonText: {
        today: 'Hoy',
        month: 'Mes',
        week: 'Semana',
        day: 'Día',
        list: 'Lista'
    },
        events: function (fetchInfo, successCallback, failureCallback) {
        fetch(`${eventosURL}?start=${fetchInfo.startStr}&end=${fetchInfo.endStr}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al cargar los eventos');
                }
                return response.json();
            })
            .then(data => {
                agregarDiasDeshabilitados(data);  
                successCallback(data);
            });
    },
        datesSet: function (info) {
        aplicarDiasDeshabilitados();
    },
        eventsSet: function (events) {
        aplicarDiasDeshabilitados();
    },
        dateClick: function (info) {
        if (disabledDays.includes(info.dateStr)) {
            alert('Este día ya no cuenta con más horas.');
            return;
        }
        calendar.changeView('timeGridDay', info.dateStr); 
    },
        selectable: true,
        allDaySlot: false,
        select: function (info) {
        const startTime = info.startStr.slice(11, 16); 
        const endTime = info.endStr.slice(11, 16);

        const selectedDate = info.startStr.slice(0, 10);
        if (occupiedSlots[selectedDate] && occupiedSlots[selectedDate].includes(startTime)) {
            alert("Esta hora ya está ocupada.");
            return;
        }

        fetch(`${crearEventoURL}?start=${info.startStr}&end=${info.endStr}&id_servicio=${id_servicio}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al cargar los eventos');
                }
                return response.json();
            })
            .then(data => {
                calendar.addEvent(data);
                if (!occupiedSlots[selectedDate]) {
                    occupiedSlots[selectedDate] = [];
                }
                occupiedSlots[selectedDate].push(startTime); 
            });
    },
    slotDuration: '00:30:00',
    slotMinTime: '09:00:00',
    slotMaxTime: '19:00:00', 
    validRange: {
        start: new Date().toISOString().slice(0, 10)
    },
});

    function aplicarDiasDeshabilitados() {
    disabledDays.forEach(date => {
        let dayCell = document.querySelector(`[data-date="${date}"]`);
        if (dayCell) {
            dayCell.classList.add('fc-disabled-day'); 
        }
    });
}

    calendar.render();
});
    
</script>

<style>
    .fc-disabled-day {
        pointer-events: none; /* Impide interacciones */
        background-color: #f0f0f0; /* Fondo gris */
        color: #999; /* Texto gris */
    }
</style>

{% endblock %}
