{% extends 'app/base.html' %}
{% block contenido %}

<div class="h-full flex flex-col items-center min-h-screen bg-gray-100 p-6">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">Agendar Hora</h1>
    <p class="text-lg text-gray-600 mb-6">Seleccione la fecha que desea</p>

    <div class="w-4/5 h-64 flex-grow bg-white shadow-md rounded-lg p-4">
        <div id="calendar" class="h-full w-full"></div>
    </div>
</div>

<script>
    // TODO: Buscar forma de inhabilitar hora de colacion por dia, contemplar la hora al agendar y en la función agregarDiasDeshabilitados
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var disabledDays = ['2024-11-23','2024-11-25'];

        function agregarDiasDeshabilitados(eventos) { // data debe ser la lista de eventos del mes
            // recorrer eventos por dia y ver si hay horas disponibles y guardarlos en disabledDays
        }

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'es', 
            headerToolbar: {
                left: 'prev,next',
                center: 'title',
                right: 'dayGridMonth,timeGridDay'
            },
            buttonText: {
                today: 'Hoy',
                month: 'Mes',
                week: 'Semana',
                day: 'Día',
                list: 'Lista'
            },
            // events: '{% url "eventos" %}', // API o ruta para cargar eventos si es necesario no la esta llamando 
            events: function(fetchInfo, successCallback, failureCallback) {
                // Usar Fetch API para cargar eventos desde el servidor
                fetch(`{% url 'eventos' %}?start=${fetchInfo.startStr}&end=${fetchInfo.endStr}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error al cargar los eventos');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        agregarDiasDeshabilitados(data);
                        successCallback(data); // Pasar eventos al calendario
                    })
            },
            dateClick: function (info) {
                // Evitar clic en días deshabilitados
                if (disabledDays.includes(info.dateStr)) {
                    return;
                }

                // Cambiar a la vista de horarios del día seleccionado
                calendar.changeView('timeGridDay', info.dateStr);
            },
            // Permitir selección de horarios
            selectable: true,
            allDaySlot: false,
            select: function (info) {

                const currentView = calendar.view.type;

                if (currentView === 'timeGridDay') {

                    var mani = getElementById('servicio')
                    
                    const selectedDate = new Date(info.start);

                    const options = { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
                    const localTime = selectedDate.toLocaleTimeString('es-CL', options);

                    alert(`Has seleccionado el horario: ${localTime}`);
                    console.log('console antes fetch',info)
                    // fetch(`{% url 'crear_evento' %}?start=${info.startStr}&end=${info.endStr}`)
                    fetch(`{% url 'crear_evento' %}?start=${info.startStr}&end=${info.endStr}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error al cargar los eventos  2');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                         // Pasar eventos al calendario
                    })
                } else {
                    // ignora las selecciones en vistas que no sean de horario
                    console.log('No se seleccionó una hora específica.');
                }
            },
            
            datesSet: function(info) {
                console.log("Mostrando eventos para el rango:", info.startStr, "a", info.endStr);
                // Aplicar estilos a los días deshabilitados
                disabledDays.forEach(date => {
                    let dayCell = document.querySelector(`[data-date="${date}"]`);
                    if (dayCell) {
                        dayCell.classList.add('fc-disabled-day');
                    }
                });
            },
            slotDuration: '00:30:00',
            slotMinTime: '09:00:00',
            slotMaxTime: '19:00:00',
            validRange: {
                start: new Date().toISOString().slice(0, 10) // Establece la fecha de hoy como el inicio
            },
        });

        calendar.render();
    });
</script>

<style>
    .fc-disabled-day {
        pointer-events: none; /* Evita clics */
        background-color: #f0f0f0; /* Color gris */
        color: #999; /* Texto deshabilitado */
        
    }
</style>

{% endblock %}