{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<div class="min-h-screen bg-gray-100 flex items-center justify-center bg-cover bg-center"
    style="background-image: url('{% static 'img/rechazo.jpg' %}');">
    <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md text-center">
        <!-- Mensaje de confirmación -->
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">¡Hora Cancelada!</h2>
        <p class="text-gray-600 mb-6">Tu hora ha sido cancelada correctamente.</p>
        <!-- Botón hacia Home -->
        <a href="{% url 'home' %}"
            class="w-full bg-[#FF1493] text-white font-semibold py-3 rounded-lg hover:bg-pink-500 transition duration-300 inline-block">
            Volver al Inicio
        </a>
    </div>
</div>
{% endblock %}