{% extends 'app/base.html' %}
{% load humanize %}
{% load static %}
{% block contenido %}
<div class="min-h-screen bg-gray-100">


    <!-- Banner -->
    <div class="relative h-96">
        <img src="{% static 'img/unas1.jpg' %}" alt="NailTime Banner"
            class="absolute inset-0 w-full h-full object-cover">
        <!-- Texto centrado -->
        <div class="absolute inset-0 flex items-center justify-center">
            <h2 class="text-4xl text-white font-bold bg-black bg-opacity-50 p-4 rounded-xl">Descubre el poder de tus
                manos con nosotros
            </h2>
        </div>
    </div>

    <!-- Servicios Section -->
    <section class="container mx-auto py-12">
        <div class="flex justify-center space-x-4 mb-8">
            <center><a href="?tipo=Clásicas (Esmalte tradicional)" class="bg-[#DE98B1] text-white px-4 py-2 rounded-full w-32">Clásicas</a>
                <a href="?tipo=Acrílicas" class="bg-[#DE98B1] text-white px-4 py-2 rounded-full w-32">Acrílicas</a>
                <a href="?tipo=Gel" class="bg-[#DE98B1] text-white px-4 py-2 rounded-full w-32">Gel</a>
                <a href="?tipo=Polygel" class="bg-[#DE98B1] text-white px-4 py-2 rounded-full w-32">Polygel</a>
            </center>
        </div>
        <div class="container mx-auto py-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">

            {% for s in servicio %}

            <div class="border-2 border-[#FF1493] bg-white p-4 rounded-lg shadow-md">

                <div class="flex flex-col items-center">
                    <img src="{{ s.manicurista.profile_picture.url }}" alt="foto" class="w-24 h-24 rounded-full">
                    <h3 class="text-lg font-semibold mb-2">{{s.tipo_servicio.id_tipo_servicio}}</h3>
                    <p class="text-gray-600 mb-2"> {{s.tipo_servicio.nombre}} </p>
                    <p class="text-lg font-semibold text-black mb-4">${{s.valor | intcomma }} </p>
                    <a href="{% url 'calendario' %}" class="bg-[#FF1493] text-white px-4 py-2 rounded hover:bg-pink-700 transition">Reservar</a>

                </div>

            </div>
            {% endfor %}

        </div>



    </section>



</div>
{% endblock %}